pkgbase = cvc5-bestperformance
	pkgdesc = An open-source automatic theorem prover for Satisfiability Modulo Theories (SMT) problems configured for highest performance.
	pkgver = 1.2.1
	pkgrel = 1
	url = https://github.com/cvc5/cvc5
	arch = x86_64
	license = GPL3
	makedepends = bash
	makedepends = gcc
	makedepends = cmake
	makedepends = python3
	makedepends = python-tomli
	makedepends = python-pyparsing
	makedepends = python-scikit-build
	makedepends = cython
	makedepends = java-environment
	makedepends = mold
	makedepends = python-pexpect
	depends = cryptominisat
	depends = glpk-cut-log
	depends = symfpu-cvc5
	depends = libpoly
	depends = libedit
	depends = cadical
	depends = cln
	depends = libbsd
	depends = gmp
	optdepends = python-cvc5: Python bindings for cvc5
	provides = cvc5=1.2.1
	conflicts = cvc5-bin
	conflicts = cvc5
	source = https://github.com/cvc5/cvc5/archive/refs/tags/cvc5-1.2.1.tar.gz
	sha256sums = 01197ca37a810bce418ae98a44dbb3348697554582395300a09c85d7af182d69

pkgname = cvc5-bestperformance
